<div class="main-content" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="row">


      <div class="col-md-12 ">
        <div class="card card-profile shadow">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Fichier Utilisateur</h6>
            <div class="row">
              <div class="col-md-8">
                <div class="card card-profile ">
                  <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">person</i>
                    </div>
                    <h3 class="card-title">
                      <small>Utilisateur</small>
                    </h3>
                  </div>
                  <div class="card-body">
                    <div style="border-top: 1px solid #ddd; margin-top: 10px;"></div>
                    <form>
                      <div class="row">

                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Login">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" type="password">
                          </mat-form-field>
                        </div><div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Confirm Password" type="password">
                        </mat-form-field>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nom" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Prenom" type="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Matricule" type="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>EST_ACTIF</mat-label>
                          <mat-select >
                            <mat-option value="1">Active</mat-option>
                            <mat-option value="0">Desactive</mat-option>
                          </mat-select>
                        </mat-form-field>
                        </div>

                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label>F_ADM_LOC</mat-label>
                            <mat-select >
                              <mat-option value="1">Active</mat-option>
                              <mat-option value="0">Desactive</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label>F_ADM_CEN</mat-label>
                            <mat-select >
                              <mat-option value="1">Active</mat-option>
                              <mat-option value="0">Desactive</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Description "></textarea>
                          </mat-form-field>

                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-profile">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">content_copy</i>
                    </div>
                    <h3 class="card-title">
                      <small>Profil</small>
                    </h3>
                  </div>
                  <div class="card-body">
                    <div style="border-top: 1px solid #ddd; margin-top: 10px;"></div>
                    <p><strong>Nom Profil:</strong> </p>
                    <p><strong>Description Profil:</strong></p>
                  </div>
                  <div class="card-footer">
                    <a href="javascript:void(0)" class="btn btn-success btn-round" data-toggle="modal" data-target="#profilModal">ADD  </a>
                    <a href="javascript:void(0)" class="btn btn btn-round">Remove <i><mat-icon>delete</mat-icon></i></a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">store</i>
                    </div>
                    <p class="card-category"></p>
                    <h3 class="card-title"><small>Espace TT</small></h3>


                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-success btn-round">Save Utilisateur</a>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade " id="profilModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Select Profil </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="card">
                  <div class="card-header card-header-warning">
                    <h4 class="card-title">List Profil</h4>
                    <p class="card-category">Add to this user a profil</p>
                  </div>
                  <div class="card-body table-responsive">
                    <table class="table table-hover">
                      <thead class="text-warning">
                      <th>Nom Profil</th>
                      <th>Desc Profil</th>
                      <th>Select</th>
                      </thead>
                      <tbody>
                      <tr>
                        <td>Dakota Rice</td>
                        <td>hello</td>
                        <td>
                          <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                            <i class="material-icons">check_box</i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="pagination">
                      <ul class="pagination justify-content-end">
                        <button class="page-link" [disabled]="profilPage.first" (click)="onPrev()">Previous</button>
                        <div class="page-numbers">
                          <ng-container *ngFor="let p of pages">
                            <button class="btn-sm btn-round" [disabled]="p == page" (click)="goToPage(p)">{{ p+1 }}</button>
                          </ng-container>
                        </div>
                        <button class="page-link text-primary" [disabled]="profilPage.last" (click)="onNext()">Next</button>

                        <div class="form-inline ml-2">
                          <label class="my-1 mr-2" for="page-select">Size:</label>
                          <select class="form-control" id="page-select" [(ngModel)]="size" >
                            <option value="3" selected>{{ 3 }}</option>

                          </select>
                        </div>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
