<div class="main-content" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="row">


      <div class="col-md-12  ">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <div class="row">
              <h3 class="card-title ">Fichier Utilisateur</h3>
              <div class="  col-md-3 ml-auto">
                <button (click)="updateUser()" class="btn btn-sm btn-round btn-gray "> Update <i class="bi bi-pencil-square"></i></button>
                <button class=" btn btn-sm btn-round btn-rose"> Delete <i class="bi bi-trash"></i></button>
              </div>

            </div>
            <p class="  text-gray">Gestion Utilisateur / Details Utilisateur</p>



          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-4">
                <div class="card  ">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">badge</i>
                    </div>
                    <h3 class="card-title">
                      <small>Utilisateur</small>
                    </h3>
                  </div>
                  <div class="card-body">
                    <div style="border-top: 1px solid #ddd; margin-top: 10px;"></div>
                    <p ><strong>
                      Login :</strong>
                    </p>
                    <p ><strong>
                      Nom :</strong>
                    </p>
                    <p >
                      <strong>Prénom :</strong>

                    </p>
                    <p >
                      <strong>Description :</strong>

                    </p>
                    <p ><strong>Matricule :</strong>

                    </p>
                    <p ><strong>
                      Est Actif:</strong>
                    </p>
                    <p ><strong>
                      f_ADM_LOC:</strong>
                    </p>
                    <p ><strong>
                      f_ADM_CEN:</strong>
                    </p>

                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card ">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">content_copy</i>
                    </div>
                    <h3 class="card-title ">
                      <small>Profil</small>
                    </h3>
                  </div>
                  <div class="card-body">
                    <div style="border-top: 1px solid #ddd; margin-top: 10px;"></div>
                    <p><strong>Nom Profil:</strong> </p>
                    <p><strong>Description Profil:</strong></p>
                  </div>

                </div>
              </div>

              <div class="col-md-4">
                <div class="card ">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">store</i>
                    </div>
                    <p class="card-category"></p>
                    <h3 class="card-title"><small>Espace TT</small></h3>

                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

