<div class="main-content" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="row">


      <div class="col-md-12 ">
        <div class="card card-profile shadow">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Fichier Utilisateur</h6>
            <div class="row">
              <div class="col-md-7">
                <div class="card card-profile ">
                  <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">person</i>
                    </div>
                    <h3 class="card-title">
                      <small>Utilisateur</small>
                    </h3>
                  </div>
                  <div class="card-body">
                    <div style="border-top: 1px solid #ddd; margin-top: 10px;"></div>
                    <p ><strong>
                      Login:</strong>
                    </p>
                    <p ><strong>
                      Nom:</strong>
                    </p>
                    <p ><strong>Prénom:</strong>

                    </p>
                    <p ><strong>Matricule:</strong>

                    </p>
                    <p ><strong>
                      Est Actif:</strong>
                    </p>
                    <p ><strong>
                      f_ADM_LOC:</strong>
                    </p>
                    <p ><strong>
                      f_ADM_CEN:</strong>
                    </p>

                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-profile">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">content_copy</i>
                    </div>
                    <h3 class="card-title">
                      <small>Profil</small>
                    </h3>
                  </div>
                  <div class="card-body">
                    <div style="border-top: 1px solid #ddd; margin-top: 10px;"></div>
                    <p><strong>Nom Profil:</strong> </p>
                    <p><strong>Description Profil:</strong></p>
                  </div>

                </div>
              </div>

              <div class="col-md-6">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">store</i>
                    </div>
                    <p class="card-category"></p>
                    <h3 class="card-title"><small>Espace TT</small></h3>


                  </div>
                </div>
              </div>
            </div>
            <a href="javascript:void(0)" class="btn btn-warning ">Update</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
