<div class="wrapper">
  <div *ngIf="showNav" class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar *ngIf="showNav"></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar *ngIf="showNav"></app-navbar>
    <router-outlet></router-outlet>
    <div>
      <app-footer *ngIf="showNav"></app-footer>
    </div>
  </div>

</div>

